language: node_js
node_js:
  - '0.10'
before_script:
  - 'npm install -g bower grunt-cli'
  - 'bower install'

after_script:
  - 'node_modules/coveralls/bin/coveralls.js < coverage/PhantomJS\ 1.8\ \(Linux\)/lcov.info'
