/* line 1, ../sass/_typography.sass */
h1 {
  font-size: 40.0px;
  font-size: 4.0rem;
  color: #75716f;
}

/* line 5, ../sass/_typography.sass */
body {
  font-size: 16.0px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #3d3a3a;
  font-family: Arimo, Helvetica, Arial, sans-serif;
}

/* line 11, ../sass/_typography.sass */
h1, h2, h3 {
  font-family: "Droid Serif", "Georgia", "Times New Roman", serif;
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  /* line 11, ../sass/_typography.sass */
  h1, h2, h3 {
    text-align: center;
  }
}

/* line 18, ../sass/_typography.sass */
h1 {
  margin: 0;
  text-align: center;
  padding: 1.5em 0;
}

/* line 23, ../sass/_typography.sass */
h2 {
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 0;
}

/* line 29, ../sass/_typography.sass */
h3 {
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 0;
}

/* line 35, ../sass/_typography.sass */
a {
  color: #75716f;
  font-weight: bold;
}
/* line 39, ../sass/_typography.sass */
a:hover {
  color: #ce1b1b;
}

/* line 82, layout/*.png */
.layout-sprite, [role=contentinfo] .footer-impress a:after, [role=contentinfo] .footer-message a:after, [role=contentinfo] .footer-twitter a:after, .button.download, .button.github {
  background: url('../images/layout-s88542c9f69.png') no-repeat;
}

/* line 7, ../sass/_app.sass */
html {
  height: 100%;
  font-size: 62.5%;
}

/* line 11, ../sass/_app.sass */
body {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  height: 100%;
}

/* line 15, ../sass/_app.sass */
> .container {
  height: 100%;
}

/* line 19, ../sass/_app.sass */
a {
  text-decoration: none;
}

/* line 22, ../sass/_app.sass */
hr.global {
  position: fixed;
  left: 0;
  bottom: 0;
  border: none;
  border-bottom: 3px solid #ce1b1b;
  margin: 0;
  width: 100%;
}

/* line 33, ../sass/_app.sass */
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 96, ../sass/_app.sass */
[role=banner] {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  line-height: 1;
  min-height: 5em;
}
@media screen and (max-width: 999px) {
  /* line 96, ../sass/_app.sass */
  [role=banner] {
    max-width: 960px;
    margin: 20px;
  }
}
@media screen and (max-width: 640px) {
  /* line 96, ../sass/_app.sass */
  [role=banner] {
    max-width: 600px;
    margin: 20px;
  }
}
@media screen and (min-width: 641px) {
  /* line 96, ../sass/_app.sass */
  [role=banner] {
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
@media screen and (min-width: 800px) {
  /* line 96, ../sass/_app.sass */
  [role=banner] {
    padding-top: 3em;
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 640px) {
  /* line 96, ../sass/_app.sass */
  [role=banner] {
    text-align: center;
    margin-top: 0.5em;
  }
}
/* line 117, ../sass/_app.sass */
[role=banner] .site-logo {
  width: 210px;
  height: 22px;
  position: absolute;
  right: 0;
  bottom: 1em;
}
@media screen and (max-width: 640px) {
  /* line 117, ../sass/_app.sass */
  [role=banner] .site-logo {
    position: static;
    margin: 1em auto;
  }
}

/* line 130, ../sass/_app.sass */
[role=navigation] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 135, ../sass/_app.sass */
[role=navigation] li {
  text-transform: uppercase;
  display: inline-block;
}
@media screen and (min-width: 501px) {
  /* line 140, ../sass/_app.sass */
  [role=navigation] li:before {
    color: #75716f;
    font-weight: bold;
    content: "| ";
    font-size: 95%;
    vertical-align: top;
  }
  /* line 148, ../sass/_app.sass */
  [role=navigation] li:first-child:before {
    content: "";
  }
}
/* line 151, ../sass/_app.sass */
[role=navigation] li.active a {
  color: #ce1b1b;
}
@media screen and (max-width: 500px) {
  /* line 135, ../sass/_app.sass */
  [role=navigation] li {
    display: block;
    padding: 0.5em 0;
    border-bottom: 1px solid #e3e3e2;
  }
  /* line 161, ../sass/_app.sass */
  [role=navigation] li:first-child {
    border-top: 1px solid #e3e3e2;
  }
}

/* line 164, ../sass/_app.sass */
[role=main] {
  background: url('../images/bg_tile.png?1370294601') repeat;
  clear: both;
  min-height: 80%;
  border-top: 1px solid #e3e3e2;
}
@media screen and (max-width: 500px) {
  /* line 164, ../sass/_app.sass */
  [role=main] {
    border-top: none;
  }
}
/* line 174, ../sass/_app.sass */
[role=main] > .content {
  max-width: 960px;
  margin: 0 auto;
}
@media screen and (max-width: 999px) {
  /* line 174, ../sass/_app.sass */
  [role=main] > .content {
    max-width: 960px;
    margin: 20px;
  }
}
@media screen and (max-width: 640px) {
  /* line 174, ../sass/_app.sass */
  [role=main] > .content {
    max-width: 600px;
    margin: 20px;
  }
}

/* line 178, ../sass/_app.sass */
[role=contentinfo] {
  max-width: 960px;
  margin: 0 auto;
  padding-bottom: 1em;
  text-align: center;
}
@media screen and (max-width: 999px) {
  /* line 178, ../sass/_app.sass */
  [role=contentinfo] {
    max-width: 960px;
    margin: 20px;
  }
}
@media screen and (max-width: 640px) {
  /* line 178, ../sass/_app.sass */
  [role=contentinfo] {
    max-width: 600px;
    margin: 20px;
  }
}
/* line 184, ../sass/_app.sass */
[role=contentinfo] ul {
  padding: 0;
  margin: 2em 0;
}
/* line 188, ../sass/_app.sass */
[role=contentinfo] li {
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  border-radius: 1.5em;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  list-style-type: none;
  display: inline-block;
  margin: 0;
  width: 3em;
  height: 3em;
  background-color: #75716f;
  background-color: rgba(117, 113, 111, 0.25);
}
/* line 201, ../sass/_app.sass */
[role=contentinfo] li:hover {
  background-color: rgba(117, 113, 111, 0.5);
}
/* line 204, ../sass/_app.sass */
[role=contentinfo] li a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 211, ../sass/_app.sass */
[role=contentinfo] li a:after {
  content: "";
  display: inline-block;
  margin-top: 0.6em;
}
/* line 220, ../sass/_app.sass */
[role=contentinfo] .footer-impress a:after {
  width: 30px;
  height: 30px;
  background-position: 0 -51px;
}
/* line 220, ../sass/_app.sass */
[role=contentinfo] .footer-message a:after {
  width: 30px;
  height: 30px;
  background-position: 0 -111px;
}
/* line 220, ../sass/_app.sass */
[role=contentinfo] .footer-twitter a:after {
  width: 30px;
  height: 30px;
  background-position: 0 -81px;
}

/* line 54, ../sass/_app.sass */
.prose p {
  width: 30%;
  float: left;
  margin-left: 5%;
}
/* line 59, ../sass/_app.sass */
.prose p:first-child {
  margin-left: 0;
}
/* line 62, ../sass/_app.sass */
.prose:after {
  display: block;
  content: "";
  clear: both;
}
@media screen and (max-width: 999px) and (min-width: 641px) {
  /* line 68, ../sass/_app.sass */
  .prose p {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
  }
  /* line 74, ../sass/_app.sass */
  .prose p:first-child {
    margin-left: 5%;
    margin-right: 5%;
  }
  /* line 78, ../sass/_app.sass */
  .prose:after {
    display: block;
    content: "";
    clear: both;
  }
}
@media screen and (max-width: 640px) {
  /* line 84, ../sass/_app.sass */
  .prose p {
    width: 100%;
    float: none;
    margin-left: 0;
  }
}
/* line 234, ../sass/_app.sass */
.prose strong {
  text-transform: uppercase;
}
/* line 237, ../sass/_app.sass */
.prose p {
  margin-top: 0;
  text-align: justify;
}

/* line 241, ../sass/_app.sass */
.dlbar {
  float: left;
  position: fixed;
  width: 15em;
  min-height: 8em;
  background-color: #171717;
  color: #fdfdfb;
  border: 1px solid black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 34px 25px 22px 20px;
  margin: 30px 25px 0 0;
}
@media screen and (max-width: 1480px) {
  /* line 241, ../sass/_app.sass */
  .dlbar {
    float: none;
    position: relative;
    width: 50%;
    margin: 1em auto;
    border-radius: 4px;
  }
  /* line 262, ../sass/_app.sass */
  .dlbar ul {
    position: absolute;
    right: 1em;
    top: 34px;
    margin: 0;
  }
}
@media screen and (max-width: 790px) {
  /* line 269, ../sass/_app.sass */
  .dlbar p {
    display: none;
  }
}
@media screen and (max-width: 475px) {
  /* line 241, ../sass/_app.sass */
  .dlbar {
    width: 90%;
  }
  /* line 275, ../sass/_app.sass */
  .dlbar ul {
    position: static;
    margin: 0 auto;
    text-align: center;
  }
  /* line 280, ../sass/_app.sass */
  .dlbar li {
    display: inline-block;
    text-align: left;
  }
  /* line 284, ../sass/_app.sass */
  .dlbar h2, .dlbar p {
    display: none;
  }
}
/* line 287, ../sass/_app.sass */
.dlbar h2 {
  margin: 0;
}
/* line 290, ../sass/_app.sass */
.dlbar ul {
  list-style: none;
  padding: 0;
}
/* line 294, ../sass/_app.sass */
.dlbar li {
  width: 12em;
  height: 30px;
  margin-bottom: 12px;
  line-height: 1em;
  padding: 4px 5px 5px 7px;
  background: #af0011;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #af0011), color-stop(100%, #820011));
  background: -webkit-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -moz-linear-gradient(top, #af0011 0%, #820011 100%);
  background: -o-linear-gradient(top, #af0011 0%, #820011 100%);
  background: linear-gradient(top, #af0011 0%, #820011 100%);
  border-radius: 4px;
  border: 1px solid #0d0d0d;
  box-shadow: inset 0px 1px 1px 0 #e90226;
}
/* line 309, ../sass/_app.sass */
.dlbar li:hover {
  background: #c3001d;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3001d), color-stop(100%, #950119));
  background: -webkit-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: -moz-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: -o-linear-gradient(top, #c3001d 0%, #950119 100%);
  background: linear-gradient(top, #c3001d 0%, #950119 100%);
}
/* line 313, ../sass/_app.sass */
.dlbar p {
  margin: 0.5em 0;
}

/* line 316, ../sass/_app.sass */
.button {
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.4) 0 -1px 0;
  padding: 2px 2px 2px 22px;
  height: 19px;
  display: block;
  color: white;
}
/* line 324, ../sass/_app.sass */
.button.download {
  background-position: 0 -160px;
}
/* line 327, ../sass/_app.sass */
.button.github {
  background-position: 0 -141px;
}

/* line 331, ../sass/_app.sass */
.button:hover {
  color: white;
}

/* line 339, ../sass/_app.sass */
.content.index h1:not(.intro) {
  display: none;
}
/* line 342, ../sass/_app.sass */
.content.index h1:not(.intro) + p {
  display: none;
}

/* line 1, ../sass/_syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* Comment */
/* line 2, ../sass/_syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* Error */
/* line 3, ../sass/_syntax.scss */
.highlight .k {
  font-weight: bold;
}

/* Keyword */
/* line 4, ../sass/_syntax.scss */
.highlight .o {
  font-weight: bold;
}

/* Operator */
/* line 5, ../sass/_syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* Comment.Multiline */
/* line 6, ../sass/_syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* Comment.Preproc */
/* line 7, ../sass/_syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* Comment.Single */
/* line 8, ../sass/_syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* Comment.Special */
/* line 9, ../sass/_syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* Generic.Deleted */
/* line 10, ../sass/_syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* Generic.Deleted.Specific */
/* line 11, ../sass/_syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 12, ../sass/_syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* Generic.Error */
/* line 13, ../sass/_syntax.scss */
.highlight .gh {
  color: #999999;
}

/* Generic.Heading */
/* line 14, ../sass/_syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* Generic.Inserted */
/* line 15, ../sass/_syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* Generic.Inserted.Specific */
/* line 16, ../sass/_syntax.scss */
.highlight .go {
  color: #888888;
}

/* Generic.Output */
/* line 17, ../sass/_syntax.scss */
.highlight .gp {
  color: #555555;
}

/* Generic.Prompt */
/* line 18, ../sass/_syntax.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 19, ../sass/_syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* Generic.Subheading */
/* line 20, ../sass/_syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* Generic.Traceback */
/* line 21, ../sass/_syntax.scss */
.highlight .kc {
  font-weight: bold;
}

/* Keyword.Constant */
/* line 22, ../sass/_syntax.scss */
.highlight .kd {
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 23, ../sass/_syntax.scss */
.highlight .kp {
  font-weight: bold;
}

/* Keyword.Pseudo */
/* line 24, ../sass/_syntax.scss */
.highlight .kr {
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 25, ../sass/_syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* Keyword.Type */
/* line 26, ../sass/_syntax.scss */
.highlight .m {
  color: #009999;
}

/* Literal.Number */
/* line 27, ../sass/_syntax.scss */
.highlight .s {
  color: #dd1144;
}

/* Literal.String */
/* line 28, ../sass/_syntax.scss */
.highlight .na {
  color: teal;
}

/* Name.Attribute */
/* line 29, ../sass/_syntax.scss */
.highlight .nb {
  color: #0086b3;
}

/* Name.Builtin */
/* line 30, ../sass/_syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* Name.Class */
/* line 31, ../sass/_syntax.scss */
.highlight .no {
  color: teal;
}

/* Name.Constant */
/* line 32, ../sass/_syntax.scss */
.highlight .ni {
  color: purple;
}

/* Name.Entity */
/* line 33, ../sass/_syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* Name.Exception */
/* line 34, ../sass/_syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* Name.Function */
/* line 35, ../sass/_syntax.scss */
.highlight .nn {
  color: #555555;
}

/* Name.Namespace */
/* line 36, ../sass/_syntax.scss */
.highlight .nt {
  color: navy;
}

/* Name.Tag */
/* line 37, ../sass/_syntax.scss */
.highlight .nv {
  color: teal;
}

/* Name.Variable */
/* line 38, ../sass/_syntax.scss */
.highlight .ow {
  font-weight: bold;
}

/* Operator.Word */
/* line 39, ../sass/_syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 40, ../sass/_syntax.scss */
.highlight .mf {
  color: #009999;
}

/* Literal.Number.Float */
/* line 41, ../sass/_syntax.scss */
.highlight .mh {
  color: #009999;
}

/* Literal.Number.Hex */
/* line 42, ../sass/_syntax.scss */
.highlight .mi {
  color: #009999;
}

/* Literal.Number.Integer */
/* line 43, ../sass/_syntax.scss */
.highlight .mo {
  color: #009999;
}

/* Literal.Number.Oct */
/* line 44, ../sass/_syntax.scss */
.highlight .sb {
  color: #dd1144;
}

/* Literal.String.Backtick */
/* line 45, ../sass/_syntax.scss */
.highlight .sc {
  color: #dd1144;
}

/* Literal.String.Char */
/* line 46, ../sass/_syntax.scss */
.highlight .sd {
  color: #dd1144;
}

/* Literal.String.Doc */
/* line 47, ../sass/_syntax.scss */
.highlight .s2 {
  color: #dd1144;
}

/* Literal.String.Double */
/* line 48, ../sass/_syntax.scss */
.highlight .se {
  color: #dd1144;
}

/* Literal.String.Escape */
/* line 49, ../sass/_syntax.scss */
.highlight .sh {
  color: #dd1144;
}

/* Literal.String.Heredoc */
/* line 50, ../sass/_syntax.scss */
.highlight .si {
  color: #dd1144;
}

/* Literal.String.Interpol */
/* line 51, ../sass/_syntax.scss */
.highlight .sx {
  color: #dd1144;
}

/* Literal.String.Other */
/* line 52, ../sass/_syntax.scss */
.highlight .sr {
  color: #009926;
}

/* Literal.String.Regex */
/* line 53, ../sass/_syntax.scss */
.highlight .s1 {
  color: #dd1144;
}

/* Literal.String.Single */
/* line 54, ../sass/_syntax.scss */
.highlight .ss {
  color: #990073;
}

/* Literal.String.Symbol */
/* line 55, ../sass/_syntax.scss */
.highlight .bp {
  color: #999999;
}

/* Name.Builtin.Pseudo */
/* line 56, ../sass/_syntax.scss */
.highlight .vc {
  color: teal;
}

/* Name.Variable.Class */
/* line 57, ../sass/_syntax.scss */
.highlight .vg {
  color: teal;
}

/* Name.Variable.Global */
/* line 58, ../sass/_syntax.scss */
.highlight .vi {
  color: teal;
}

/* Name.Variable.Instance */
/* line 59, ../sass/_syntax.scss */
.highlight .il {
  color: #009999;
}

/* Literal.Number.Integer.Long */
